{:deps    {markdown-clj {:mvn/version "1.10.2"}}
 :aliases {:cljs
           {:extra-deps {thheller/shadow-cljs        {:mvn/version "2.8.83"}
                         reagent                     {:mvn/version "0.10.0"}
                         re-frame                    {:mvn/version "RELEASE"}
                         arttuka/reagent-material-ui {:mvn/version "4.11.0-3"}
                         reilysiegel/clojure-sheets
                         {:git/url "https://github.com/ReilySiegel/clojure-sheets"
                          :sha     "161eb415fce4d17a2740985b6951572eef72d764"}}}}
 :paths   ["src" "resources"]}
