@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import url('https://fonts.googleapis.com/css?family=Asap|Raleway');

// 2. Set your own initial variables
// Update the blue shade, used for links
// $blue: #06bcef;
// // Add pink and its invert
// $pink: #ff8080;
// $pink-invert: #fff;
// // Update the sans-serif font family
// $family-sans-serif: "Helvetica", "Arial", sans-serif;

$garnet: hsl(335, 55, 34);
$garnet-invert: $grey-lighter;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $garnet;
$primary-invert: $garnet-invert;


.navbar-logo {
  display: block;

  .navbar-item {
    display: block;

    .brand-title {
      font-family: 'Raleway', 'Arial';
      font-size: 2rem;
    }

    .brand-subtitle {
      font-family: 'Asap', 'Arial';
      font-size: 1rem;
      // align: center;
    }

    hr {
      margin: 0px;
    }
  }
}

.section-media-image {
  width: 100px;
  height: 100px;
}

.philanthropy-items {
  margin-top: 1rem;
  padding: 1rem;
  border-top: 2px solid $grey-lighter;
  border-bottom: 2px solid $grey-lighter;
}

section.section-with-sidebar {
  padding-left: 0rem;
  padding-right: 1rem;
  padding-top: 0rem;
  padding-bottom: 0rem;

  .section-sidebar {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border-radius: 0px;

    .title {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.sidebar-title {
  margin-top: 5rem;
}

.column.officer-headshots {
  margin: 3rem;

  .columns {
    margin-top: 1rem;

    .card.officer-headshot {
      margin: 0 1rem;
    }
  }
}

// 4. Import the rest of Bulma


@import "../node_modules/bulma/bulma";
// @import "../node_modules/bulma-carousel/dist/css/bulma-carousel";
@import "../node_modules/bulma-calendar/dist/css/bulma-calendar";

.calendar {
  max-width: none;
}

.calendar-footer-today {
  color: $info !important;
}
